<!doctype html>
<html>
<head>

  <title>Nautilus Replacement</title>

  <script type="application/javascript"
    src="bower_components/angular/angular.min.js"></script>
  <script type="application/javascript"
    src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script type="application/javascript"
    src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script type="application/javascript"
    src="bower_components/angular-messages/angular-messages.min.js"></script>
  <script type="application/javascript"
    src="bower_components/angular-material/angular-material.min.js"></script>

  <link rel="stylesheet"
    href="bower_components/material-design-icons/iconfont/material-icons.css">
  <link rel="stylesheet"
    href="bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet"
    href="style.css">

</head>
<body ng-app="nautilusReplacement">

  <div id="appRoot"
    ng-controller="WindowController as $w"
    layout="column"
    layout-fill>

    <md-toolbar md-theme="toolbar">
      <div class="md-toolbar-tools" layout="row">
        <md-button class="md-icon-button">
          <span class="material-icons">
            arrow_back
          </span>
        </md-button>
        <md-input-container flex>
          <input ng-model="$w.location.str" />
        </md-input-container>
        <md-menu>
          <md-button class="md-icon-button"
            ng-click="$w.openMenu($mdMenu, $event)">
            <span class="material-icons">
              menu
            </span>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="ctrl.redial($event)">
                <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
                Redial
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>

    <div flex>
      <div layout="row"
        layout-fill>
        <div style="width:300px;overflow-y: scroll;overflow-x:hidden;border-right: 1px solid rgba(0,0,0,0.12);">
          <section layout="column">
            <md-subheader class="md-primary">
              Favourites
            </md-subheader>
            <md-list>
              <md-list-item ng-repeat="$item in $w.favourites.contents"
                ng-click="$w.handleClick($item, $event)">
                <span class="inset material-icons">
                  folder
                </span>
                {{ $item.basename }}
              </md-list-item>
            </md-list>
          </section>
        </div>
        <div flex
          layout>
          <md-content layout="column"
            flex>
            <header>
              <div class="pwd-base"
                layout="row"
                layout-align="start center">
                <span class="material-icons"
                  style="margin-right: 8px;">
                  folder_open
                </span>
                <h1>{{ $w.location.dirname }}</h1>
              </div>
              <md-checkbox ng-model="$w.showHidden" aria-label="Show Hidden">
                Show Hidden
              </md-checkbox>
            </header>
            <section style="overflow-y: scroll;overflow-x: hidden;"
              flex>
              <md-list>
                <md-list-item ng-class="{'hidden-obj': $item.isHidden}"
                  ng-if="!$item.isHidden || $w.showHidden"
                  ng-repeat="$item in $w.location.contents"
                  ng-click="$w.handleClick($item, $event)">
                  {{ $item.basename }}
                  <span ng-if="$item.info[0] === 'd'">/</span>
                </md-list-item>
              </md-list>
            </section>
          </md-content>
        </div>
      </div>
    </div>
  </div>

  <script type="application/javascript"
    src="main.js"></script>
